
[class^="container"]{
    border: 1px dashed black;
    background-color: white;
    min-height:80vh;
}
[class^="row"]{
    border: 1px dashed red
}

[class^="col"]{
    
    background-color: pink;
    border: 1px  solid violet
}

